/* ----------------------------------------------------------- geral ----------------------------------------------------------- */

* {
  font-family: "Poppins", sans-serif;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
  border: #00cdac solid 5px;
  /* font-size: 100%;
    vertical-align: baseline; */
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: white;
  transition: 0.5s;
}

li {
  display: inline;
  padding-left: 5px;
  padding-right: 5px;
}

li:hover {
  cursor: pointer;
}

ul {
  margin: 0;
  padding: 0;
}

/* ----------------------------------------------------------- classes ----------------------------------------------------------- */

.nav-container {
  font-weight: 300;
  background-color: #00cdac;
  display: flex;
  justify-content: space-between;
  color: black;
  padding: 0px 0px 10px 0px;
  margin: 0;
}

.nav-item {
  font-size: 1.3em;
  transition: 0.5s;
}

.nav-item:hover {
  color: white;
}

.title {
  font-size: 3em;
  font-weight: 300;
}

.project-text-title{

}

.text-color-main {
  color: #00cdac;
}

.home-content {
  text-align: left;
  margin-top: 250px;
  margin-right: 200px;
  margin-left: 200px;
  margin-bottom: 500px;
  border-bottom: solid 2px #00cdac;
}

.paddingLeftBottom {
  padding-bottom: 10px;
}

.home-button {
  background-color: #00cdac;
  border: none;
  color: white;
  padding: 6px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;

  transition-duration: 0.5s;
  cursor: pointer;
}

.home-button:hover {
  opacity: 1;
}

.button1 {
  background-color: #00cdac;
  color: black;
}

.button1:hover {
  background-color: white;
  color: #00cdac;
}

.projects-content {
  background-color:#00cdac;
  text-align: center;
  align-items: center;
  padding: 0px 100px;
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 0.2fr 1fr 1fr 1fr;
  gap: 0px 50px;
  grid-auto-flow: row;
  grid-template-areas:
    "projects-title projects-title"
    "projects-text1 projects-photo1"
    "projects-text2 projects-photo2"
    "projects-text3 projects-photo3";
}

.projects-title {
  grid-area: projects-title;
}

.projects-text1 {
  text-align: left;
  grid-area: projects-text1;
  background-color: brown;
}

.projects-photo1 {
  grid-area: projects-photo1;
  background-color: green;
}

.projects-text2 {
  text-align: left;
  grid-area: projects-text2;
  background-color: brown;
  
}

.projects-photo2 {
  grid-area: projects-photo2;
  background-color: green;
}

.projects-text3 {
  text-align: left;
  grid-area: projects-text3;
  background-color: brown;

}

.projects-photo3 {
  grid-area: projects-photo3;
  background-color: green;

}


/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
}

/*Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
}
